footer(id="footer")
  div(class="container")
    section(class="top-footer")
      .row 
        +blockTopFooter()
    section(class="bottom-footer")
      .row
        div(class="col-lg-6 bottom-footer__block")
          p Thanh toán:
          .row 
            each val in arrBankImages.length ? arrBankImages : ['No']
              div(class="col-xl-3 col-lg-4 col-md-3 col-4 py-2")
                img(class="img-fluid" src=`../images/${val}` alt="banking")
        div(class="col-lg-6 bottom-footer__block")
          p Giải đáp nhanh:
          .row 
            each item in listContact 
              .col-lg-6.d-flex.align-items-center.justify-content-center.my-5
                .contact__icon
                  i(class=item.className)
                .contact__content
                  p= item.content 
                  span= item.phone
