.breadcrumb {

  &-item {
    a {
      font-size: 1.3rem;
      color: $text-gray;
      font-family: $secondary-font;
    }

    &::before {
      margin-top: 2px;
    }
  }

  &-item:last-child {
    a {
      color: $title-color;
    }
  }
}
