-
  const footerNav =[
    {
      heading:"VỀ CHÚNG TÔI",
      links:[
        "Công ty cổ phần Công nghệ DKT đã và đang khẳng định vị thế hàng đầu trong lĩnh vực Thương mại điện tử.",
        "Tầng 4 tòa nhà Hanoi Group 442 Đội Cấn - Ba Đình - Hà Nội",
        "support@dkt.com.vn",
        "(84-4) 6658843 - (84-4) 6658904"
      ],
      isAbout: true
    },
    {
      heading:"CHÍNH SÁCH",
      links:[
        "Chính sách giao hàng",
        "Chính sách đổi trả sản phẩm",
        "Chính sách bảo hành",
        "Giới thiệu sản phẩm mới",
        "Chính sách trả góp"
      ]
    },
    {
      heading:"DỊCH VỤ & HỖ TRỢ",
      links:[
        "Hệ thống của hàng",
        "Hướng dẫn mua hàng",
        "Hướng dẫn thanh toán",
        "Giới thiệu sản phẩm mới",
        "Tích điểm đổi thưởng",
        "Dịch vụ đổi trả",
        "Câu hỏi thường gặp"
      ]
    },
    {
      heading:"DỊCH VỤ & HỖ TRỢ",
      links:[
        "Tin tức mới nhất",
        "Tin tức khuyến mãi",
        "Tuyển dụng, đãi ngộ",
        "Download tài liệu",
        "Chương trình đối tác",
        "Nhà phát triển ứng dụng"
      ]
    },
    {
      heading:"KẾT NỐI",
      links:[
        {
          icon: "fab fa-facebook-square",
          text: "Facebook"
        },
        {
          icon: "fab fa-instagram",
          text: "Instagram"
        },
        {
          icon: "fab fa-twitter-square",
          text: "Twitter Us"
        },
        {
          icon: "fab fa-google",
          text: "Google Us"
        }
      ],
      isSocial:true
    }
  ];

- var arrBankImages = ["bank1.png","bank2.png","bank3.png","bank4.png","bank5.png","bank6.png","bank7.png","bank8.png"]

- var arrIcons = ["fab fa-facebook-f","fab fa-google","fab fa-instagram","fab fa-twitter"]

-
  const listBannerContent =[
    {
      icon: "fas fa-plane-departure",
      title: "Miễn phí vận chuyển",
      content: "Chúng tôi vận chuyển miễn phí với các đơn hàng trên 100.000 Đ."
    },
    {
      icon: "fas fa-sync-alt",
      title: "Chính sách đổi trả",
      content: "Nếu phát hiện lỗi của nhà sản xuất, chúng tôi sẽ đổi mới sản phẩm trong 7 ngày đầu tiên."
    },
    {
      icon: "fas fa-gift",
      title: "Khuyến mại hàng tuần",
      content: "Mỗi thứ 7 hàng tuần đều có chương trình giảm giá và khuyến mãi lớn."
    },
    {
      icon: "fas fa-thumbs-up",
      title: "Cam kết hàng chính  hãng",
      content: "Chúng tôi cam kết bán hàng chính hãng 100% với tất cả các loại sản phẩm"
    }
  ];

-
  const listBanner =[
    {
      img: "../images/banner-bg.png",
      alt: "mua-ngay"
    },
    {
      img: "../images/banner-bg.png",
      alt: "mua-ngay"
    },
    {
      img: "../images/banner-bg.png",
      alt: "mua-ngay"
    }
  ];

- const proudctNameTitle=["Máy khoan", "Máy in 3D", "Máy CNC", "Máy tiện", "Máy khác"];

-
  const listItemSidebar =[
    "Máy khoan, cắt CNC",
    "Máy in phun khổ lớn",
    "Máy quét Canon 3D",
    "Máy hàn điện Alunima",
    "Máy khoan Decameta",
    "Máy phay đa năng CNC",
    "Máy mài, tiện DC 12V",
    "Máy khoan, cắt CNC",
    "Máy quay thông minh N3",
    "Motor R34C đa dụng",
    "Máy in laser màu 3D"
  ];

-
  const listHotProduct =[
    { 
      img:"../images/product7.png",
      name: "Máy khoan BLACK DECKER",
      price: "1.550.000đ",
      star: 2,
      amoutComent:12,
      alt:"may-khoan"
    },
    { 
      img:"../images/product4.png",
      name: "Máy khoan BLACK DECKER",
      price: "1.550.000đ",
      star: 4,
      amoutComent:12,
      alt:"may-khoan"
    },
    { 
      img:"../images/product6.png",
      name: "Máy khoan BLACK DECKER",
      price: "1.550.000đ",
      star: 4,
      amoutComent:12,
      alt:"may-khoan"
    },
    { 
      img:"../images/product7.png",
      name: "Máy khoan BLACK DECKER",
      price: "1.550.000đ",
      star: 4,
      amoutComent:12,
      alt:"may-khoan"
    },
    { 
      img:"../images/product5.png",
      name: "Máy khoan BLACK DECKER",
      price: "1.550.000đ",
      star: 4,
      amoutComent:12,
      alt:"may-khoan"
    },
    { 
      img:"../images/product6.png",
      name: "Máy khoan BLACK DECKER",
      price: "1.550.000đ",
      star: 4,
      amoutComent:12,
      alt:"may-khoan"
    },
    { 
      img:"../images/product5.png",
      name: "Máy khoan BLACK DECKER",
      price: "1.550.000đ",
      star: 4,
      amoutComent:12,
      alt:"may-khoan"
    },
    { 
      img:"../images/product4.png",
      name: "Máy khoan BLACK DECKER",
      price: "1.550.000đ",
      star: 4,
      amoutComent:12,
      alt:"may-khoan"
    }
  ];

-
  const listNewProduct =[
    { 
      img:"../images/product9.png",
      name: "Máy khoan BLACK DECKER",
      price: "1.550.000đ",
      star: 2,
      amoutComent:12,
      alt:"may-khoan"
    },
    { 
      img:"../images/product10.png",
      name: "Máy khoan BLACK DECKER",
      price: "1.550.000đ",
      star: 4,
      amoutComent:12,
      alt:"may-khoan"
    },
    { 
      img:"../images/product3.png",
      name: "Máy khoan BLACK DECKER",
      price: "1.550.000đ",
      star: 4,
      amoutComent:12,
      alt:"may-khoan"
    },
    { 
      img:"../images/product9.png",
      name: "Máy khoan BLACK DECKER",
      price: "1.550.000đ",
      star: 4,
      amoutComent:12,
    }
  ];


-
  const listArrivalProduct =[
    { 
      img:"../images/product10.png",
      name: "Máy khoan BLACK DECKER",
      price: "1.550.000đ",
      star: 2,
      amoutComent:12,
      alt:"may-khoan",
      detail: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque a facilis enim molestias obcaecati pariatur fuga qui"
    },
    { 
      img:"../images/product9.png",
      name: "Máy khoan BLACK DECKER",
      price: "1.550.000đ",
      star: 2,
      amoutComent:12,
      alt:"may-khoan",
      detail: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque a facilis enim molestias obcaecati pariatur fuga qui"
    },
    { 
      img:"../images/product9.png",
      name: "Máy khoan BLACK DECKER",
      price: "1.550.000đ",
      star: 2,
      amoutComent:12,
      alt:"may-khoan",
      detail: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque a facilis enim molestias obcaecati pariatur fuga qui"
    },
    { 
      img:"../images/product8.png",
      name: "Máy khoan BLACK DECKER",
      price: "1.550.000đ",
      star: 2,
      amoutComent:12,
      alt:"may-khoan",
      detail: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque a facilis enim molestias obcaecati pariatur fuga qui"
    }
  ];


- var arrBrandImages = ["brand1.png", "brand2.png", "brand3.png", "brand4.png", "brand5.png"]

- var arrBanners = ["banner.png", "banner.png", "banner.png"];

-
  const listSaleProducts =[
    { 
      img:"product9.png",
      name: "Máy khoan BLACK DECKER",
      price: "1.550.000đ",
      alt:"may-khoan"
    },
    { 
      img:"product10.png",
      name: "Máy khoan BLACK DECKER",
      price: "1.550.000đ",
      alt:"may-khoan"
    },
    { 
      img:"product3.png",
      name: "Máy khoan BLACK DECKER",
      price: "1.550.000đ",
      alt:"may-khoan"
    },
    { 
      img:"product9.png",
      name: "Máy khoan BLACK DECKER",
      price: "1.550.000đ",
      alt:"may-khoan"
    }
  ];


-
  const listImgProductDetails =[
    { 
      img:"product1.png",
      alt:"may-khoan"
    },
    { 
      img:"product2.png",
      alt:"may-khoan"
    },
    { 
      img:"product1.png",
      alt:"may-khoan"
    },
    { 
      img:"product3.png",
      alt:"may-khoan"
    }
  ];

-
  const listPriceFilters =[
    "0 - 200.000đ (45)",
    "200.000đ - 500.000đ (32)",
    "500.000đ - 1.000.000đ (27)",
    "1.000.000đ - 2.000.000đ (16)",
    "Trên 2.000.000đ (9)",
  ];

-
  const listColorFilters =[
    {
      color: "Màu đỏ (45)",
      style: 'red'
    },
    {
      color: "Màu vàng (32)",
      style: 'yellow'
    },
    {
      color: "Màu xanh (26)",
      style: 'blue'
    },
    {
      color: "Màu bạc (17)",
      style: 'gray'
    },
    {
      color: "Màu đen (9)",
      style: 'black'
    }
  ]

-
  const arrProductGrid =[
    { 
      img:"../images/product7.png",
      name: "Máy khoan BLACK DECKER",
      price: "1.550.000đ",
      star: 2,
      amoutComent:12,
      alt:"may-khoan"
    },
    { 
      img:"../images/product4.png",
      name: "Máy khoan BLACK DECKER",
      price: "1.550.000đ",
      star: 4,
      amoutComent:12,
      alt:"may-khoan"
    },
    { 
      img:"../images/product6.png",
      name: "Máy khoan BLACK DECKER",
      price: "1.550.000đ",
      star: 4,
      amoutComent:12,
      alt:"may-khoan"
    },
    { 
      img:"../images/product7.png",
      name: "Máy khoan BLACK DECKER",
      price: "1.550.000đ",
      star: 4,
      amoutComent:12,
      alt:"may-khoan"
    },
    { 
      img:"../images/product5.png",
      name: "Máy khoan BLACK DECKER",
      price: "1.550.000đ",
      star: 4,
      amoutComent:12,
      alt:"may-khoan"
    },
    { 
      img:"../images/product6.png",
      name: "Máy khoan BLACK DECKER",
      price: "1.550.000đ",
      star: 4,
      amoutComent:12,
      alt:"may-khoan"
    },
    { 
      img:"../images/product5.png",
      name: "Máy khoan BLACK DECKER",
      price: "1.550.000đ",
      star: 4,
      amoutComent:12,
      alt:"may-khoan"
    },
    { 
      img:"../images/product4.png",
      name: "Máy khoan BLACK DECKER",
      price: "1.550.000đ",
      star: 4,
      amoutComent:12,
      alt:"may-khoan"
    },
    { 
      img:"../images/product9.png",
      name: "Máy khoan BLACK DECKER",
      price: "1.550.000đ",
      star: 2,
      amoutComent:12,
      alt:"may-khoan"
    },
    { 
      img:"../images/product10.png",
      name: "Máy khoan BLACK DECKER",
      price: "1.550.000đ",
      star: 4,
      amoutComent:12,
      alt:"may-khoan"
    },
    { 
      img:"../images/product3.png",
      name: "Máy khoan BLACK DECKER",
      price: "1.550.000đ",
      star: 4,
      amoutComent:12,
      alt:"may-khoan"
    },
    { 
      img:"../images/product9.png",
      name: "Máy khoan BLACK DECKER",
      price: "1.550.000đ",
      star: 4,
      amoutComent:12,
    },
    { 
      img:"../images/product7.png",
      name: "Máy khoan BLACK DECKER",
      price: "1.550.000đ",
      star: 2,
      amoutComent:12,
      alt:"may-khoan"
    },
    { 
      img:"../images/product4.png",
      name: "Máy khoan BLACK DECKER",
      price: "1.550.000đ",
      star: 4,
      amoutComent:12,
      alt:"may-khoan"
    },
    { 
      img:"../images/product6.png",
      name: "Máy khoan BLACK DECKER",
      price: "1.550.000đ",
      star: 4,
      amoutComent:12,
      alt:"may-khoan"
    },
    { 
      img:"../images/product7.png",
      name: "Máy khoan BLACK DECKER",
      price: "1.550.000đ",
      star: 4,
      amoutComent:12,
      alt:"may-khoan"
    },
    { 
      img:"../images/product5.png",
      name: "Máy khoan BLACK DECKER",
      price: "1.550.000đ",
      star: 4,
      amoutComent:12,
      alt:"may-khoan"
    },
    { 
      img:"../images/product6.png",
      name: "Máy khoan BLACK DECKER",
      price: "1.550.000đ",
      star: 4,
      amoutComent:12,
      alt:"may-khoan"
    },
    { 
      img:"../images/product5.png",
      name: "Máy khoan BLACK DECKER",
      price: "1.550.000đ",
      star: 4,
      amoutComent:12,
      alt:"may-khoan"
    },
    { 
      img:"../images/product4.png",
      name: "Máy khoan BLACK DECKER",
      price: "1.550.000đ",
      star: 4,
      amoutComent:12,
      alt:"may-khoan"
    },
    { 
      img:"../images/product9.png",
      name: "Máy khoan BLACK DECKER",
      price: "1.550.000đ",
      star: 2,
      amoutComent:12,
      alt:"may-khoan"
    },
    { 
      img:"../images/product10.png",
      name: "Máy khoan BLACK DECKER",
      price: "1.550.000đ",
      star: 4,
      amoutComent:12,
      alt:"may-khoan"
    },
    { 
      img:"../images/product3.png",
      name: "Máy khoan BLACK DECKER",
      price: "1.550.000đ",
      star: 4,
      amoutComent:12,
      alt:"may-khoan"
    },
    { 
      img:"../images/product9.png",
      name: "Máy khoan BLACK DECKER",
      price: "1.550.000đ",
      star: 4,
      amoutComent:12,
    },
    { 
      img:"../images/product7.png",
      name: "Máy khoan BLACK DECKER",
      price: "1.550.000đ",
      star: 2,
      amoutComent:12,
      alt:"may-khoan"
    },
    { 
      img:"../images/product4.png",
      name: "Máy khoan BLACK DECKER",
      price: "1.550.000đ",
      star: 4,
      amoutComent:12,
      alt:"may-khoan"
    },
    { 
      img:"../images/product6.png",
      name: "Máy khoan BLACK DECKER",
      price: "1.550.000đ",
      star: 4,
      amoutComent:12,
      alt:"may-khoan"
    },
    { 
      img:"../images/product7.png",
      name: "Máy khoan BLACK DECKER",
      price: "1.550.000đ",
      star: 4,
      amoutComent:12,
      alt:"may-khoan"
    }
  ];


-const paginationList =["Trang đầu","1","2","3","Trang cuối"];

-
  const arrProductList =[
    { 
      img:"../images/product10.png",
      name: "Máy khoan BLACK DECKER",
      price: "1.550.000đ",
      star: 2,
      amoutComent:12,
      alt:"may-khoan",
      detail: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque a facilis enim molestias obcaecati pariatur fuga qui"
    },
    { 
      img:"../images/product9.png",
      name: "Máy khoan BLACK DECKER",
      price: "1.550.000đ",
      star: 2,
      amoutComent:12,
      alt:"may-khoan",
      detail: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque a facilis enim molestias obcaecati pariatur fuga qui"
    },
    { 
      img:"../images/product9.png",
      name: "Máy khoan BLACK DECKER",
      price: "1.550.000đ",
      star: 2,
      amoutComent:12,
      alt:"may-khoan",
      detail: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque a facilis enim molestias obcaecati pariatur fuga qui"
    },
    { 
      img:"../images/product8.png",
      name: "Máy khoan BLACK DECKER",
      price: "1.550.000đ",
      star: 2,
      amoutComent:12,
      alt:"may-khoan",
      detail: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque a facilis enim molestias obcaecati pariatur fuga qui"
    },
    { 
      img:"../images/product10.png",
      name: "Máy khoan BLACK DECKER",
      price: "1.550.000đ",
      star: 2,
      amoutComent:12,
      alt:"may-khoan",
      detail: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque a facilis enim molestias obcaecati pariatur fuga qui"
    },
    { 
      img:"../images/product9.png",
      name: "Máy khoan BLACK DECKER",
      price: "1.550.000đ",
      star: 2,
      amoutComent:12,
      alt:"may-khoan",
      detail: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque a facilis enim molestias obcaecati pariatur fuga qui"
    },
    { 
      img:"../images/product9.png",
      name: "Máy khoan BLACK DECKER",
      price: "1.550.000đ",
      star: 2,
      amoutComent:12,
      alt:"may-khoan",
      detail: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque a facilis enim molestias obcaecati pariatur fuga qui"
    },
    { 
      img:"../images/product8.png",
      name: "Máy khoan BLACK DECKER",
      price: "1.550.000đ",
      star: 2,
      amoutComent:12,
      alt:"may-khoan",
      detail: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque a facilis enim molestias obcaecati pariatur fuga qui"
    },
    { 
      img:"../images/product10.png",
      name: "Máy khoan BLACK DECKER",
      price: "1.550.000đ",
      star: 2,
      amoutComent:12,
      alt:"may-khoan",
      detail: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque a facilis enim molestias obcaecati pariatur fuga qui"
    },
    { 
      img:"../images/product9.png",
      name: "Máy khoan BLACK DECKER",
      price: "1.550.000đ",
      star: 2,
      amoutComent:12,
      alt:"may-khoan",
      detail: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque a facilis enim molestias obcaecati pariatur fuga qui"
    },
    { 
      img:"../images/product9.png",
      name: "Máy khoan BLACK DECKER",
      price: "1.550.000đ",
      star: 2,
      amoutComent:12,
      alt:"may-khoan",
      detail: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque a facilis enim molestias obcaecati pariatur fuga qui"
    },
    { 
      img:"../images/product8.png",
      name: "Máy khoan BLACK DECKER",
      price: "1.550.000đ",
      star: 2,
      amoutComent:12,
      alt:"may-khoan",
      detail: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque a facilis enim molestias obcaecati pariatur fuga qui"
    },
    { 
      img:"../images/product10.png",
      name: "Máy khoan BLACK DECKER",
      price: "1.550.000đ",
      star: 2,
      amoutComent:12,
      alt:"may-khoan",
      detail: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque a facilis enim molestias obcaecati pariatur fuga qui"
    },
    { 
      img:"../images/product9.png",
      name: "Máy khoan BLACK DECKER",
      price: "1.550.000đ",
      star: 2,
      amoutComent:12,
      alt:"may-khoan",
      detail: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque a facilis enim molestias obcaecati pariatur fuga qui"
    },
    { 
      img:"../images/product9.png",
      name: "Máy khoan BLACK DECKER",
      price: "1.550.000đ",
      star: 2,
      amoutComent:12,
      alt:"may-khoan",
      detail: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque a facilis enim molestias obcaecati pariatur fuga qui"
    },
    { 
      img:"../images/product8.png",
      name: "Máy khoan BLACK DECKER",
      price: "1.550.000đ",
      star: 2,
      amoutComent:12,
      alt:"may-khoan",
      detail: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque a facilis enim molestias obcaecati pariatur fuga qui"
    },
    { 
      img:"../images/product10.png",
      name: "Máy khoan BLACK DECKER",
      price: "1.550.000đ",
      star: 2,
      amoutComent:12,
      alt:"may-khoan",
      detail: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque a facilis enim molestias obcaecati pariatur fuga qui"
    },
    { 
      img:"../images/product9.png",
      name: "Máy khoan BLACK DECKER",
      price: "1.550.000đ",
      star: 2,
      amoutComent:12,
      alt:"may-khoan",
      detail: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque a facilis enim molestias obcaecati pariatur fuga qui"
    }
  ];

- const listTitleTable = ["STT", "Sản phẩm", "Thông tin", "Đơn giá", "Số lượng", "Thành tiền", "Xóa"];

-
  const itemCarts =[
    { 
      img:"../images/product4.png",
      name: "Máy khoan BLACK DECKER",
      price: "1.550.000đ",
      index: 1,
      amount:12,
      total:"3.340.000đ",
      alt:"may-khoan"
    },
    { 
      img:"../images/product6.png",
      name: "Máy khoan BLACK DECKER",
      price: "1.550.000đ",
      index: 2,
      amount:12,
      total:"3.340.000đ",
      alt:"may-khoan"
    },
    { 
      img:"../images/product7.png",
      name: "Máy khoan BLACK DECKER",
      price: "1.550.000đ",
      index: 3,
      amount:12,
      total:"3.340.000đ",
      alt:"may-khoan"
    }
  ];

-
  const listNavLink =[
    { 
      content:"Trang chủ",
      link:"index.html"
    },
    { 
      content:"Giới thiệu",
      link:"index.html"
    },
    { 
      content:"Sản phẩm",
      link:"product-grid.html"
    },
    { 
      content:"Tin khuyến mãi",
      link:"blog.html"
    },
    { 
      content:"Dịch vụ",
      link:"index.html"
    },
    { 
      content:"Liên hệ",
      link:"index.html"
    }
  ];

-
  const siderbarNews =[
    "Đời sống pháp luật (5)",
    "Kinh tế trong nước (8)",
    "Sức khỏe và gia đình (9)",
    "Công nghệ thông tin (5)",
    "Tin tức khác (12)"
  ];

-
  const siderbarLbImg =[
    "lb-img-1.png",
    "lb-img-2.png",
    "lb-img-3.png",
    "lb-img-4.png",
    "lb-img-5.png",
    "lb-img-6.png"
  ];

-
  const siderbarTags =[
    "thời trang",
    "máy khoan",
    "news",
    "công nhiệp",
    "xây dựng",
    "phay",
    "máy cắt",
    "hóa chất"
  ];


-
  const listBlogs =[
    { 
      title:"Thế hệ máy khoan cắt CNC đầu tiên được tái sử dụng",
      link:"blog-detail.html",
      img: "blog-1.png",
      alt: "may-khoan-cat-cnc",
      totalComment: '12',
      content: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur voluptatibus quaerat tempore aperiam, porro repudiandae impedit! Aut cum neque sed minima labore ex dolores officiis, doloremque harum omnis est vitae.Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur voluptatibus quaerat tempore aperiam, porro repudiandae impedit! Aut cum neque sed minima labore ex dolores officiis, doloremque harum omnis est vitae.Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur voluptatibus quaerat tempore aperiam, porro repudiandae impedit! Aut cum neque sed minima labore ex dolores officiis, doloremque harum omnis est vitae",
      author:"Design team",
      date:"Thứ năm, ngày 23/10/2015 8:00 AM"
    },
    { 
      title:"Thế hệ máy khoan cắt CNC đầu tiên được tái sử dụng",
      link:"blog-detail.html",
      img: "blog-2.png",
      alt: "may-khoan-cat-cnc",
      totalComment: '12',
      content: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur voluptatibus quaerat tempore aperiam, porro repudiandae impedit! Aut cum neque sed minima labore ex dolores officiis, doloremque harum omnis est vitae.Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur voluptatibus quaerat tempore aperiam, porro repudiandae impedit! Aut cum neque sed minima labore ex dolores officiis, doloremque harum omnis est vitae.Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur voluptatibus quaerat tempore aperiam, porro repudiandae impedit! Aut cum neque sed minima labore ex dolores officiis, doloremque harum omnis est vitae",
      author:"Design team",
      date:"Thứ năm, ngày 23/10/2015 8:00 AM"
    },
    { 
      title:"Thế hệ máy khoan cắt CNC đầu tiên được tái sử dụng",
      link:"blog-detail.html",
      img: "blog-3.png",
      alt: "may-khoan-cat-cnc",
      totalComment: '12',
      content: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur voluptatibus quaerat tempore aperiam, porro repudiandae impedit! Aut cum neque sed minima labore ex dolores officiis, doloremque harum omnis est vitae.Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur voluptatibus quaerat tempore aperiam, porro repudiandae impedit! Aut cum neque sed minima labore ex dolores officiis, doloremque harum omnis est vitae.Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur voluptatibus quaerat tempore aperiam, porro repudiandae impedit! Aut cum neque sed minima labore ex dolores officiis, doloremque harum omnis est vitae",
      author:"Design team",
      date:"Thứ năm, ngày 23/10/2015 8:00 AM"
    },
    { 
      title:"Thế hệ máy khoan cắt CNC đầu tiên được tái sử dụng",
      link:"blog-detail.html",
      img: "blog-4.png",
      alt: "may-khoan-cat-cnc",
      totalComment: '12',
      content: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur voluptatibus quaerat tempore aperiam, porro repudiandae impedit! Aut cum neque sed minima labore ex dolores officiis, doloremque harum omnis est vitae.Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur voluptatibus quaerat tempore aperiam, porro repudiandae impedit! Aut cum neque sed minima labore ex dolores officiis, doloremque harum omnis est vitae.Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur voluptatibus quaerat tempore aperiam, porro repudiandae impedit! Aut cum neque sed minima labore ex dolores officiis, doloremque harum omnis est vitae",
      author:"Design team",
      date:"Thứ năm, ngày 23/10/2015 8:00 AM"
    }
  ];

-
  const blogDetail =[
    { 
      isDetail: true,
      title:"Thế hệ máy khoan cắt CNC đầu tiên được tái sử dụng",
      link:"blog-detail.html",
      img: "blog-1.png",
      alt: "may-khoan-cat-cnc",
      totalComment: '12',
      content: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur voluptatibus quaerat tempore aperiam, porro repudiandae impedit! Aut cum neque sed minima labore ex dolores officiis, doloremque harum omnis est vitae.Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur voluptatibus quaerat tempore aperiam, porro repudiandae impedit! Aut cum neque sed minima labore ex dolores officiis, doloremque harum omnis est vitae.Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur voluptatibus quaerat tempore aperiam, porro repudiandae impedit! Aut cum neque sed minima labore ex dolores officiis, doloremque harum omnis est vitae",
      author:"Design team",
      date:"Thứ năm, ngày 23/10/2015 8:00 AM",
      content1: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur voluptatibus quaerat tempore aperiam, porro repudiandae impedit! Aut cum neque sed minima labore ex dolores officiis, doloremque harum omnis est vitae.Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur voluptatibus quaerat tempore aperiam, porro repudiandae impedit! Aut cum neque sed minima labore ex dolores officiis, doloremque harum omnis est vitae.Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur voluptatibus quaerat tempore aperiam, porro repudiandae impedit! Aut cum neque sed minima labore ex dolores officiis, doloremque harum omnis est vitae",
      content2: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur voluptatibus quaerat tempore aperiam, porro repudiandae impedit! Aut cum neque sed minima labore ex dolores officiis, doloremque harum omnis est vitae.Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur voluptatibus quaerat tempore aperiam, porro repudiandae impedit! Aut cum neque sed minima labore ex dolores officiis, doloremque harum omnis est vitae.Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur voluptatibus quaerat tempore aperiam, porro repudiandae impedit! Aut cum neque sed minima labore ex dolores officiis, doloremque harum omnis est vitae",
      content3: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur voluptatibus quaerat tempore aperiam, porro repudiandae impedit! Aut cum neque sed minima labore ex dolores officiis, doloremque harum omnis est vitae.Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur voluptatibus quaerat tempore aperiam, porro repudiandae impedit! Aut cum neque sed minima labore ex dolores officiis, doloremque harum omnis est vitae.Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur voluptatibus quaerat tempore aperiam, porro repudiandae impedit! Aut cum neque sed minima labore ex dolores officiis, doloremque harum omnis est vitae",
      content4: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur voluptatibus quaerat tempore aperiam, porro repudiandae impedit! Aut cum neque sed minima labore ex dolores officiis, doloremque harum omnis est vitae.Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur voluptatibus quaerat tempore aperiam, porro repudiandae impedit! Aut cum neque sed minima labore ex dolores officiis, doloremque harum omnis est vitae.Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur voluptatibus quaerat tempore aperiam, porro repudiandae impedit! Aut cum neque sed minima labore ex dolores officiis, doloremque harum omnis est vitae",
      content5: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur voluptatibus quaerat tempore aperiam, porro repudiandae impedit! Aut cum neque sed minima labore ex dolores officiis, doloremque harum omnis est vitae.Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur voluptatibus quaerat tempore aperiam, porro repudiandae impedit! Aut cum neque sed minima labore ex dolores officiis, doloremque harum omnis est vitae.Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur voluptatibus quaerat tempore aperiam, porro repudiandae impedit! Aut cum neque sed minima labore ex dolores officiis, doloremque harum omnis est vitae",
      img1: "blog-2.png",
      img2: "blog-3.png",
    }
  ];

- const detailTags =["máy khoan", "máy cắt cnc", "máy in 3D", "công nghiệp", "hàn xì"];

-
  const listComments =[
    { 
      img: "img-comment.png",
      content: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur voluptatibus quaerat tempore aperiam, porro repudiandae impedit! Aut cum neque sed minima labore ex dolores officiis, doloremque harum omnis est vitae.Lorem ipsum dolor sit amet consectetur adipisici",
      name:"Phan Quoc Tuan",
      date:"Thứ năm, ngày 23/10/2015 8:00 AM"
    },
    { 
      img: "img-comment.png",
      content: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur voluptatibus quaerat tempore aperiam, porro repudiandae impedit! Aut cum neque sed minima labore ex dolores officiis, doloremque harum omnis est vitae.Lorem ipsum dolor sit amet consectetur adipisici",
      name:"Phan Quoc Tuan",
      date:"Thứ năm, ngày 23/10/2015 8:00 AM"
    }
  ];

-
  const listTelBox =[
    { 
      content: "Hotline",
      phone: "(08) 90045 9600"
    },
    { 
      content: "Đặt hàng nhanh",
      phone: "(08) 90045 4332"
    }
  ];

-
  const listContact =[
    { 
      className: "fas fa-phone",
      content: "Tư vấn miễn phí (24/7)",
      phone: "1900 650 650"
    },
    { 
      className: "fas fa-comment",
      content: "Góp ý-phản hồi-thắc mắc",
      phone: "1900 650 650"
    }
  ];
