include ../components/breadcrumb.pug
include ../components/button.pug
include ../components/inputForm.pug
include ../components/bankItem.pug
include ../components/blockTopFooter.pug
include ../components/contactItem.pug
include ../components/itemTelToolBox.pug
include ../components/navbarItem.pug
include ../components/itemProduct.pug
include ../components/itemSidebar.pug
include ../components/itemRightBanner.pug
include ../components/titleBlockProduct.pug
include ../components/carousel.pug
include ../components/popup.pug
