$primary-color: #f5bd10;
$secondary-color: #202020;
$bg-color: #f7f7f7;
$white-color: #ffffff;
$red-color: #ff0000;
$yellow-color: #f0f031;
$blue-color: #0000ff;

$title-color: #252525;
$text-color: #444444;
$text-gray: #898989;

$primary-font:'Roboto', sans-serif;
$secondary-font: Arial, Helvetica, sans-serif;

// Responsive
$mobile-width: 520px; 
$tablet-width: 768px; 
$desktop-width: 1024px;
