mixin contactItem(className, content, phoneNumber)
  div(class="col-lg-6 d-flex align-items-center justify-content-center my-5")
    div(class="contact__icon")
      i(class=className)
    div(class="contact__content")
      p= content 
      span= phoneNumber
