extends ../layouts/default-layout

block vars
	-title = 'Tin tức'
	-bodyClass = 'blogList'
	-des=''

block content 
	section(class="section-blog")
		.container 
			+breadcrumb({content:"Trang chủ"}, {content:"Tin tức",link:"blog.html"})
			.row 
				.col-lg-3.d-none.d-lg-block
					+sidebarBlog()
				.col-lg-9
					+listBlog()
			.row 
				+paginationProduct()
